# Web Framework
gradio>=4.42.0

# Data Processing
pandas==2.2.3

# Network Communication (for hitting our Vision API)
requests==2.32.3

# LLM Provider
google-generativeai

# Telemetry
prometheus_client
